@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=º+SC&family=Jaro:opsz@6..72&family=Teko:wght@300..700&display=swap');

/* General */
:root {
  --white: #ffffff;
  --gray-soft: #b0b0b0;
  --white2: #e0e0e0;
  --blue-gradient-start: #0077b5;
  --blue-gradient-end: #00a8e8;
  --red-gradient-start: #ff416c;
  --red-gradient-end: #ff4b2b;
  --background-gradient: linear-gradient(135deg, #1e1e2e, #2c2c3d);
   --blue-strong: #021c37; /* Azul fuerte */
  --blue: #032a53; /* Azul fuerte */
  --black: #000000;      /* Negro */
   --green-highlight: #818080;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
  color: var(--white);
  overflow-x: hidden;
  scrollbar-width: thin; /* Barra delgada */
  scrollbar-color: #00c6ff #001f3f; /* Colores del pulgar y fondo */
}
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #000000, #001f3f); /* Fondo con degradado futurista */
 
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #00c6ff, #0072ff); /* Pulgar con degradado brillante */
  border-radius: 10px;
  border: 2px solid #000000; /* Borde para destacar */
  transition: background-image 0.3s ease; /* Transición suave */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #0072ff, #00c6ff); /* Invertir colores al pasar el mouse */
  box-shadow: 0px 0px 10px #00c6ff; /* Efecto de resplandor */
}

/* Smooth scrolling effect */
html {
  scroll-behavior: smooth; /* Desplazamiento lento y suave */
}
